@charset "utf-8";

/* 以下のコードは、(https://nyanblog2222.com/programming/javascript/2749/)、(https://nyanblog2222.com/programming/javascript/2835/)から引用、一部を改変しました */

/*全体*/
.wrapper{
	width: 95vw;
	height: 90vh;
	margin: 0 auto;
	color: #666;
}
#header {
	text-align: center;
	font-size: 24px;
	width: 100%;
	margin: 1rem 0 0;
	height: 5%;
}

/*カレンダー*/
#calendar {
	text-align: center;
	width: 100%;
	height: 95%;
}
table {
	outline: 2px solid #ddd;
	border-collapse: collapse;
	width: 100%;
	height: 80%;
}
th {
	color: #000;
}
th:first-child {
	color: red;
}
th:last-child {
	color: blue;
}
th, td {
	outline: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
td:first-child {
    color: red;
}

td:last-child {
	color: blue;
}
td.disabled {
	color: #ccc;
}
td.today {
	background-color: #D65E72;
	color: #fff;
}
td.holiday {
	background-color: #FADBDA;
	color: red;
}
/*ボタン*/
#next-prev-button {
	position: relative;
}
#next-prev-button button{
	cursor: pointer;
	background: #B78D4A;
	color: #fff;
	border: 1px solid #B78D4A;
	border-radius: 4px;
	font-size: 1rem;
	padding: 0.5rem 2rem;
	margin: 1rem 0;
	width: 10%;
	height:10%;
}
#next-prev-button button:hover{
	background-color: #D4BB92;
	border-color: #D4BB92;
}
#prev {
	float: left;
}
#next {
	float: right;
}